.main-container {
    max-width: 800px;
}


body {
    font-family: 'Lato', sans-serif;
}

h1, .font-roboto {
    font-family: 'Roboto Slab', serif;
}

.section-wrapper a {
    display: block;
    height:100px;  
 
    background-position:right;
    background-size: cover; 
    background-repeat: no-repeat;
}

@media (min-width: 640px) {
    .section-wrapper a {
        height:200px;  
    }
}

.section h1 {
    color: #ffffff;
    text-shadow: 1px 1px #000000;
}

.section h2 {
    color: #ffffff;
    text-shadow: 1px 1px #000000;
}


.bg-dark {
    background-color: #151515;
}