.main-container {
    max-width: 800px;
}


body {
    font-family: 'Lato', sans-serif;
    background-color: #000000;
}

h1, .font-roboto {
    font-family: 'Roboto Slab', serif;
}

.section-wrapper a {
    display: block;
    height:100px;  
 
    background-position:right;
    background-size: cover; 
    background-repeat: no-repeat;
}

@media (min-width: 640px) {
    .section-wrapper a {
        height:200px;  
    }
}

.section h1 {
    color: #ffffff;
    text-shadow: 1px 1px #000000,  0px 0px 20px rgba(0,0,0,0.50);
}

.section h2 {
    color: #ffffff;
    text-shadow: 1px 1px #000000, 0px 0px 20px rgba(0,0,0,0.50);
}


.bg-dark {
    background-color: #151515;
}

.app-store-buttons > a {

    display: block;
    overflow: hidden;
    text-indent: -9999em;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 4px;

}

.app-store-buttons > a.apple {
    background: url(../images/button_appstore.png) no-repeat;
    background-size: 148px 50px;
    width: 148px;
}


.app-store-buttons > a.google {
    background: url(../images/button_googleplay.png) no-repeat;
    background-size: 148px 50px;
    width: 148px;
}

.app-store-buttons > a.webapp {
    background: url(../images/button_webapp.png) no-repeat;
    background-size: 148px 50px;
    width: 148px;
}